@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    background-color: rgba(251, 248, 241, 1);
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    padding: 2em;
    text-decoration: none;
}


header img{
    margin: left 20px;
    margin-top: 20px;
    width: 90px;
    padding: 1em;
}



main section{
    display: flex;
    flex-flow: row;
    padding: 3em;
    justify-content: space-around;
    border-bottom: 3px solid #6d3e21
    
    
}

h1{
    display: flex;
    justify-content: center;
   
}

div  h1  p{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 70px;
}

main p{
    font-size: 1.5em;
    padding: 0.5em;
}

div ul{
    margin-left: 0.7em;
   
}

main ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    
}

main ul :hover{
    color: goldenrod;
    padding: 0.5em;
    border: solid 0.1em goldenrod;
    text-decoration: none;

}

main article{
    display: flex;
    flex-flow: column;
    
    
}

main div img{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    height: 40vh
    
}

main{
    border-bottom: 3px solid #6d3e21
}

footer{
    display: flex;
    justify-content: center;
    padding: 2em;
}

footer img{
    
    width: 20vw;
    height: 15vh;
}

